// colors 
$white: #FFF;
$isa: #EEEDED;
$gray: #989797;
$coral: #FA824C;
$buff: #F1DD7B;
$vanilla: #F5E7A1;
$flame: #E4572E;
$ochre: #e87554;
$ppink: #F2B2A0;
$shiny: #4CA866;
$tgreen: #9DCFAB;
$pgray: #BDDFC7;
$bluef: #3C91E6;
$bluej: #42668a;
$jordyb: #82B9EF;
$black:  #000000;
$space:#454545;
$silver:#a2a2a2;

// typography

$Permanent-font: "Permanent Marker", cursive;
$Kalam-font: "Kalam", cursive;
$Bebas-font: "Bebas Neue", sans-serif;
$Titillium-font: "Titillium Web", sans-serif;

//font weight
$font-thin: 300;
$font-medium: 500;
$font-bold: 700;

// Styles sizes

$fs1: 70px;
$fs2: 40px;
$fs3: 30px;
$fs4: 18px;
$fs5: 16px;

// spacing

$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 25px;
$sp5: 30px